/* Global Variables
-----------------------------
*/

$font-1: Avenir, sans-serif;
$font-2: Helvetica, sans-serif;

$blue: #324D5C;
$green: #46B29D;
$yellow: #F0CA4D;
$orange: #E37B40;
$red: #DE5B49;






// /* Global Variables NYA ODDHILL
// -----------------------------
// */

// $font-headlines: 'Bergen', sans-serif;
// $font-mono: 'Roboto Mono', monospace;
// $font-serif: 'Domine', serif;

// $dark_purple: #36295E;
// $light_purple: #722FBC;

// $dark_blue: #1A2EB6;
// $light_blue: #4E22F8;

// $red: #F7114E;
// $orange: #F73647;
// $pink: #F9418C;
// $green: #2EFEC5;

