@import '../globalvariables';
@import '../globalmixins';

/* Form
-----------------------------
*/

.list-group-item {
    margin: 0 0 20px;
    background: $yellow;
    p {
            margin: 0;
    }
}

.progress {
    background-color: #ccc;
    .progress-bar {
        background-color: $yellow;
    }
}